h1 {
  color: black;
  text-align: center;
}
.flex-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: white;
  padding-top: 1px; 
  margin: auto;
  /* border: 1px; */
  text-align: center;
  /* border-top: 1px; */
  /* border-style: dashed; */
}


#city-box{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(255, 190, 71);
  font: bold;
  text-align: center;
  justify-content: center;
  border: 1px solid;
}

#city-field{
  /* background-color: blue; */
  padding: 20px;
  border: 1px solid;


}

#temperature{
  padding: 5px;
  background-color:  rgb(255, 190, 71);
  border: 1px solid;
}

#temperature-field {
  padding: 20px;
  /* background-color: aqua; */
}

#temperature-field-1 {
  /* padding: 20px; */
  /* background-color: blue; */
  border: 1px solid;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  
}

#temperature-field-2{
  /* background-color: red; */
  border: 1px solid;
  display: flex;
  justify-content: center;
  
}

#temperature-field-3{
  /* padding: 10px; */
  /* background-color: yellow; */
  border: 1px solid;
  display: flex;
  justify-content: center;
}

#conditions{
  padding: 5px;
  background-color:  rgb(255, 190, 71);
  border: 1px solid;
}

#condition-field{
  padding: 20px;
  /* background-color: blue; */
  border: 1px solid;
}

#other-info{
  padding: 5px;
  background-color:  rgb(255, 190, 71);
  border: 1px solid;
}

#info-field{
  padding: 98px;
  border: 1px solid;

}

button{
  background-color: rgb(80, 208, 166);
}

/* #button-text{
  justify-content: center;
  align-items: center;
} */




body{
  /* background-color: rgb(152, 200, 241); */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 30px;
  border: 20px;
  /* border: black; */
  background-color: white;
  /* background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */

  
}